<section class="ui segment contact-page">
    <h2 class="ui header">Connect with Us</h2>
    
    <div class="ui list contact-methods">
        <div class="item social-media">
            <p>Email: <a class="ui link" href="mailto:haos.bread.house@gmail.com">haos.bread.house@gmail.com</a></p>
            <p>WeChat: hao-s-house</p>
            <p>Instagram: <a class="ui link" href="https://www.instagram.com/hao.s.house?igsh=MXAyYXBoeXI5MDB6cg%3D%3D&utm_source=qr">@hao.s.house</a></p>
            <p>Xiaohongshu: <a class="ui link" href="https://www.xiaohongshu.com/user/profile/5ddeb0f0000000000100b7d6?xhsshare=CopyLink&appuid=5ddeb0f0000000000100b7d6&apptime=1712279341">haoshouse</a></p>
        </div>
    </div>
</section>
