<section class="ui segment account-page">
    <div class="ui centered grid account-header">
        <div class="row">
            <div class="three wide column">
                <img src="/images/profile-placeholder.png" alt="Profile Image" class="ui small circular image">
            </div>
            <div class="thirteen wide column">
                <h2 class="ui header">{{username}}</h2>
            </div>
        </div>
    </div>
    <div class="account-options">
        <div class="ui vertical menu fluid">
            <a href="/user/change-address" class="item">Change My Address</a>
            <a href="/user/change-password" class="item">Change My Password</a>
            <a href="/user/change-preferences" class="item">Preferences</a>
            <a href="/user/view-order-history" class="item">Order History</a>
        </div>
    </div>
</section>
