{{!-- home.hbs --}}

{{!-- TODO: grant Owners editing privilege (upload images from Products) --}}
<main>
    <div class="ui container">
        <!-- Featured Products -->
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui segment">
                    <h3>Sourdough of the week</h3>
                    <img src="/path/to/sourdough.jpg" alt="Sourdough" class="ui image">
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui segment">
                    <h3>Pastries of the week</h3>
                    <img src="/path/to/pastries.jpg" alt="Pastries" class="ui image">
                </div>
            </div>
        </div>

        <!-- Past Works Gallery -->
        <h2>Some of our works in the past</h2>
        <div class="ui four cards">
            <!-- Repeat this for each image -->
            <div class="card">
                <div class="image">
                    <img src="/path/to/work1.jpg" alt="Work 1">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/path/to/work1.jpg" alt="Work 1">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/path/to/work1.jpg" alt="Work 1">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/path/to/work1.jpg" alt="Work 1">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/path/to/work1.jpg" alt="Work 1">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/path/to/work1.jpg" alt="Work 1">
                </div>
            </div>
        </div>
    </div>
</main>
