<section class="ui segment account-page">
    <div class="ui grid account-header">
        <div class="four wide column">
            <img src="/images/profile-placeholder.png" alt="Profile Image" class="ui small circular image">
        </div>
        <div class="twelve wide column">
            <h2 class="ui header">{{username}}</h2>
        </div>
    </div>
    <div class="account-options">
        <div class="ui vertical fluid tabular menu">
            <a href="/owner/view-feedbacks" class="item">View General Feedbacks</a>
            <a href="/owner/manage-orders" class="item">Manage Orders</a>
            <a href="/owner/manage-issues" class="item">Manage Reported Issues</a>
            <a href="/owner/manage-customers" class="item">Manage Customer Accounts</a>
        </div>
    </div>
</section>
